body {
    margin-top: 70px;
    background:#333;
    color: #fff;
}

.grams-card {
    background-color: #d63384;
}

.kg-card {
    background-color: #fd7e14;
}

.oz-card {
    background-color: #0dcaf0;
}